@model IEnumerable<TimeKeeper.Models.LearningNote>

@{
    ViewData["Title"] = "Index";
}

<h1>Notes</h1>

<div style="display: flex; justify-content: center;">
    <div class="card border-primary mb-3 shadow-lg" style="max-width: 22rem; width: 100%;">
        <form asp-action="CreateLearningNote" class="p-3">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label fw-bold">Label</label>
                    <input type="text" name="Label" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Description</label>
                    <textarea name="Description" class="form-control" rows="4"></textarea>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-sm">Add Note</button>
            </div>
        </form>
    </div>
</div>




<div style="display:flex; flex-direction:row; align-content:flex-start; align-items:flex-start; flex-wrap:wrap;">
@foreach (var note in Model)
{
    <div class="card text-white border-dark bg-secondary mb-3" style="min-width:18rem; max-width:18rem; min-height:12rem; height:auto; margin:.75rem;">
        <div class="card-header"><h5 class="card-title">@Html.DisplayFor(modelNote => note.Label)</h5></div> 
        <div class="card-body"> 
            <p class="card-text">@Html.DisplayFor(modelNote => note.Description)</p> 
        </div> 
        </div> 
} 
</div>
