@model TimeKeeper.Models.ViewModels.TimekeeperDayViewModel

@{
    ViewData["Title"] = "Index ";
}

<h1>@Html.DisplayNameFor(model => model.Date)</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Start
            </th>
            <th>
                Description
            </th>
            <th>
                End
            </th>
        </tr>
    </thead>
@*     <tbody>  *@
@* @foreach (var eventItem in Model.TimekeeperEvents) *@
@*      { *@
@*          <tr> *@
@*         <td> *@
@*             @Html.DisplayFor(modelItem => eventItem.Start) *@
@*         </td> *@
@*         <td> *@
@*             @Html.DisplayFor(modelItem => eventItem.Description) *@

@*         </td> *@
@*             @Html.DisplayFor(modelItem => eventItem.End) *@
@*         </tr> *@
@*  } *@
@*      </tbody> *@
</table>
